body {
    font-family: 'Roboto Slab', serif;
    margin: 0;

}

h1 {
    font-size: 35px;
}

p {
    text-align: justify;
    padding-right: 5%;
    padding-bottom: 15px;
}

.color-picker {
    color: rgb(245, 98, 12);
}

.flexible-container {
    display: flex;
    margin-bottom: 9%;
}

.Width-divide {
    width: 50%;
    margin-left: 7%;

}

.Width-divide img {
    width: 85%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 128, 105), red);
    font-weight: 700;
    color: white;
    padding: 10px;
    border-radius: 25px;
}

.set-background {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}

.set-font {
    font-size: 25px;
    font-weight: 700;
}